---
title: Arduino Sketches
sidebar: spcoast_sidebar
layout: simple
state: mature
overview: > 
    Arduino libraries and sketches
permalink: arduino.html
---

<H1>Arduino Sketches and Libraries</H1>
<p>&nbsp;</p>

{% assign projects=site.pages | where: "isarduino", true %}
{% assign projectcount=0 %}
{% for p in projects %}
{% assign projectcount = projectcount | plus: 1 %}
{% endfor %}
{% assign firstletter=" " %}

<p> ({{ projectcount }} sketches)</p>

<table class="projectlist">
{% for p in projects %}
    {% capture thisletter %}{{ p.title | truncate: 1, "" | capitalize }}{% endcapture %}
	{% if thisletter != firstletter  %}
		{% capture firstletter %}{{ thisletter }}{% endcapture %}
	<tr>
		<td colspan=3>
		<b> {{ thisletter }} </b>
		</td>
	</tr>
	{% endif %}
		<tr>
			<td class="projectlist"> <a href="/pages/{{ p.title }}.html">{{ p.title }}</a> </td>

	{% if p.image_path %}
			<td> <img src="/sketches/{{ p.title}}/{{p.image_path}}" width="50px" alt="{{p.image_path}}"></td>
	{% else %}
			<td> &nbsp; </td>
	{% endif %}
			<td>{{ p.tagline }} </td>
		</tr>

	{% endfor %}
</table>

<hr>

<p>The technical documentation on this site is licensed under the<br \>
<a href="http://www.ohwr.org/attachments/2388/cern_ohl_v_1_2.txt">CERN Open Hardware Licence v1.2</a> unless otherwise specified.</p>


	
