---
title: Model Railroad Electronics
sidebar: spcoast_sidebar
layout: simple
state: mature
overview: > 
    SPCoast Stuff
---


<H1>Model Railroad Electronics</H1>
<p>&nbsp;</p>

{% assign projects=site.pages | where: "iseagle", 'true' | sort_natural %}
{% assign projectcount=0 %}
{% for p in projects %}
{% assign projectcount = projectcount | plus: 1 %}
{% endfor %}
{% assign firstletter=" " %}

<H2>Active Projects</H2>
<p> ({{ projectcount }} projects)</p>

<table class="projectlist">
{% for p in projects %}
    {% capture thisletter %}{{ p.title | truncate: 1, "" | capitalize }}{% endcapture %}
	{% if thisletter != firstletter  %}
		{% capture firstletter %}{{ thisletter }}{% endcapture %}
	<tr>
		<td colspan=3>
		<b> {{ thisletter }} </b>
		</td>
	</tr>
	{% endif %}
		<tr>
			<td class="projectlist"> <a href="/pages/{{ p.title }}.html">{{ p.title }}</a> </td>

	{% if p.image_path %}
			<td> <img src="/versions/{{ p.title}}/{{p.image_path}}" width="80px" alt="{{p.image_path}}"></td>
	{% else %}
			<td> &nbsp; </td>
	{% endif %}
			<td>{{ p.tagline }} </td>
		</tr>

	{% endfor %}
</table>

<hr>


{% assign projects=site.pages | where: "iseagle", 'obsolete' | sort_natural %}
{% assign projectcount=0 %}
{% for p in projects %}
{% assign projectcount = projectcount | plus: 1 %}
{% endfor %}
{% assign firstletter=" " %}

<H2>Obsolete Projects</H2>
<p> ({{ projectcount }}  projects)</p>

<table class="projectlist">
{% for p in projects %}
    {% capture thisletter %}{{ p.title | truncate: 1, "" | capitalize }}{% endcapture %}
	{% if thisletter != firstletter  %}
		{% capture firstletter %}{{ thisletter }}{% endcapture %}
	<tr>
		<td colspan=3>
		<b> {{ thisletter }} </b>
		</td>
	</tr>
	{% endif %}
		<tr>
			<td class="projectlist"> <a href="/pages/{{ p.title }}.html">{{ p.title }}</a>&#8224; </td>

	{% if p.image_path %}
			<td> <img src="/versions/{{ p.title}}/{{p.image_path}}" width="80px" alt="{{p.image_path}}"></td>
	{% else %}
			<td> &nbsp; </td>
	{% endif %}
			<td>{{ p.tagline }} </td>
		</tr>

	{% endfor %}
</table>
<p> &#8224;  &nbsp; Obsolete projects may have design or operational issues - use them prudently as inspiration...</p>
<hr>
<p>The technical documentation on this site is licensed under the<br \>
<a href="http://www.ohwr.org/attachments/2388/cern_ohl_v_1_2.txt">CERN Open Hardware Licence v1.2</a> (for hardware projects) or
    <a href="https://opensource.org/licenses/MIT">MIT License</a>a> (for software/firmware),
    unless otherwise specified.</p>

	
