---
layout: simple
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

<script>
	$("#mysidebar").navgoco('toggle', true);
</script>
	
{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}


{% if page.status == "mature" %}
{% include tip.html content="This is a mature project that has been used on my layout." %}
{% elsif page.status == "replaced" %}
{% include tip.html content="This design has been replaced by another." %}
{% elsif page.status == "broken" %}
{% include warning.html content="This design has been abandoned because it didn't work" %}
{% else %}
{% include important.html content="This design is being actively developed; it has not been tested or validated!" %}
{% endif %}

<p> {{ page.overview }}</p>


{% for image in page.images %}
<figure>
   <a href="{{ image.image_path }}">
   <img src="{{ image.image_path }}" style="max-width: 200;"
      alt="{{ image.title }}"/>
   </a>
   <figcaption>{{ image.title }}</figcaption>
</figure>
{% endfor %}
<p>&nbsp;</p>

<p>&nbsp;</p>
{% assign sorted = site.versions | where: "project", page.project | reverse %}

<ul id="profileTabs" class="nav nav-tabs">
{% assign active=true %}
{% for version in sorted %}
    {% capture anchor %}{{ version.title | remove: "." }}{% endcapture %}
	{% if active== true %}
		{% capture list %}<li class="active"> {% endcapture %}
		{% assign active=false %}
	{% else %}
		{% assign list="<li>" %}
	{% endif %}
	{% capture title %}<a href="#{{ anchor }}" data-toggle="tab"> {{ version.title }} </a> {% endcapture %}
	{{ list }}{{ title }} </li>
{% endfor %}
</ul>
<div class="tab-content">

{% assign active=true %}
{% for version in sorted %}
    {% capture anchor %}{{ version.title | remove: "." }}{% endcapture %}
	{% if active== true %}
		{% capture div %}<div role="tabpanel" class="tab-pane active" id="{{ anchor }}"> {% endcapture %}
		{% assign active=false %}
	{% else %}
		{% capture div %}<div role="tabpanel" class="tab-pane" id="{{ anchor }}"> {% endcapture %}
	{% endif %}
    {{ div }}
    {% assign showdetail = false %}
        {% if version.status == "mature" %}
                {% capture heading %}  {% endcapture %}
                {% assign showdetail = true %}
        {% elsif version.status == "replaced" %}
                {% capture heading %} {% include note.html content="This design has been replaced by a newer version." %} {% endcapture %}
        {% elsif version.status == "broken" %}
                {% capture heading %} {% include note.html content="This design has been abandoned because it didn't work." %} {% endcapture %}

        {% else %}
                {% capture heading %} {% include callout.html type="warning" content="This design has not been tested or validated" %} {% endcapture %}
                {% assign showdetail = true %}
        {% endif %}



        <H2>{{ version.title }}</H2>
		 {{ heading }}
                <p> {{ version.info }}</p>
                <p> {{ version.overview }}</p>



            <table><tr>
            {% for image in version.images %}
            <td align=center>
                <table border=1><tr><td align=center>
                <a href="{{ image.image_path }}"> <img src="{{ image.image_path }}" alt="{{ image.title}}"  width="100" height="100"/> </a>
                <br />
                {{ image.title }}
                </td></tr></table>
            </td>
            {% endfor %}
            </tr></table>
            <p>
                {% if showdetail == true %}
                    {% for item in version.artifacts %}
                                {% if item.type == "download" %}
                                    {{ item.type | capitalize }} <a href="{{ item.path }}">{{ item.tag }} </a> {% if item.post != blank %} - {{ item.post }}{% endif %}<br />
                                {% else %}
                                    UNKNOWN ARTIFACT: Type '{{ item.type }}' tag '{{ item.tag }}' path '{{item.path }}'<br />
                                {% endif %}
                    {% endfor %}
                {% endif %}
            <p>&nbsp;</p>
			<p>{{ version.content | markdownify }}</p>

	</div>
    {% endfor %}
</div>

   {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

